
#candy{
    opacity: 0.3
}
#candy:hover{
    opacity: 1
}

#mosaic{
    opacity: 0.3
}
#mosaic:hover{
    opacity: 1
}

#rain_princess{
    opacity: 0.3
}
#rain_princess:hover{
    opacity: 1
}

#udnie{
    opacity: 0.3
}
#udnie:hover{
    opacity: 1;
}

.imagePreview{
    max-width:70%;
    margin-top:4px;
}

